<% include ../partials/boilerplate %>

  <form class="form" method='POST' action='/auth/login'>
    <input class="inpt" name='username' type='text' placeholder='username' required />
   <br/>
    <input class="inpt" name='password' type='password' placeholder='password' required />
   <br/>
    <input type='submit' value='Log in!' />
  </form>


<% include ../partials/end %>