<% include ../partials/boilerplate %>

  <form class="form" action="/todo" method="POST">
    <input type="text" name="todo" placeholder="To-DO" />
    <input type="text" name="description" placeholder="Description" />
    <input type="text" name="category" placeholder="Category" />
    <input type="submit" value="Add it!" />
  </form>

  <a href="/todo">Back to all flashcards</a>


<% include ../partials/end %>