<% include ../partials/boilerplate %>
<div class="todos">
<% todos.forEach(todo => { %>
  <div class="list">
      <span id="title">Title: </span><%= todo.todo %><br>
     <span id="title">Category: </span><%= todo.category %>
  <br/>
   <br/>
    <a class="btn" href="/todo/<%= todo.id %>"> Info</a>
  </div>
<% }) %>
</div>

<% include ../partials/end %>